<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VacuumCraft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="VacuumCraft.Properties.Settings.VacTimeDBConnectionString"
            connectionString="Data Source=DENIS;Initial Catalog=VacTimeDB;Persist Security Info=True;User ID=user1;Password=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <VacuumCraft.Properties.Settings>
            <setting name="NoValidColor" serializeAs="String">
                <value>#FFFF9494</value>
            </setting>
        </VacuumCraft.Properties.Settings>
    </applicationSettings>
</configuration>